* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --brand-color: #EF5F4C;
   --background-color: #FFFFFF;
   --surface-color: #F5F5F5;
   --skeleton-color: #D9D9D9;
   --shape-transparency: hsl(0, 0%, 56%);
   --text-color-primary: #313131;
   --text-color-secondary: #6C6C6C;

   --font-family: "Poppins", serif;
   --text-lg: bold 24px/125% var(--font-family);
   --text-md: 400 14px/170% var(--font-family);
   --text-sm: 400 12px/170% var(--font-family);

   --spacing-xs: 8px;
   --spacing-sm: 8px;
   --spacing-md: 20px;
   --spacing-lg: 16px;
   --spacing-xl: 32px;
}

body {

   font-family: var(--font-family);
   font-size: 16px;
   background-color: var(--background-color);

}

header {
   display: flex;
   justify-content: space-between;
   padding: var(--spacing-md)var(--spacing-xl);
}


header h2 {
   font-size: 20px;
   font-weight: bold;
   color: var(--brand-color);

}

.box-logo,
.box-explorer {
   display: flex;
   align-items: center;
}

.box-logo {
   column-gap: var(--spacing-xs);
}

.box-explorer {
   color: var(--text-color-secondary);
   column-gap: var(--spacing-sm);
}

.perfil {
   display: flex;
   padding: var(--spacing-xl);
   justify-content: space-between;
}

.about {
   width: 100%;
   justify-content: space-between;
   display: flex;
   flex-direction: column;

}

.perfil-description {
   word-wrap: break-word;
   display: flex;
   flex-direction: column;

   & img {
      width: 120px;
      height: 120px;
   }

   &>div {
      margin: var(--spacing-sm) 0 var(--spacing-xl);

      h1 {
         margin-bottom: 8px;
      }
   }

}

.perfil-description h1 {
   font: var(--text-lg);
}

.perfil-description p {
   max-width: 370px;
   font: var(--text-md);
   color: var(--text-color-secondary);
}

.information {
   list-style: none;

   display: flex;
   justify-content: center;
   flex-direction: column;
   row-gap: var(--spacing-sm);
   font: var(--text-md);
   width: 268px;
}

.information li {
   display: flex;
   align-items: center;
   column-gap: var(--spacing-xs);
   color: var(--text-color-secondary);
}

.photographs {
   padding: var(--spacing-lg) 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: var(--spacing-lg);

   &>img {
      width: 328px;
      height: 328px;
   }
}

footer {
   font: var(--text-md);
   color: var(--text-color-secondary);
   padding: var(--spacing-lg);
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   row-gap: 16px;
}

footer div {
   display: flex;
   gap: var(--spacing-xl);
}

.desktop-only {
   display: none;
}

@media (width >=80em) {

   :root {
      --font-family: "Poppins", serif;
      --text-lg: bold 32px/125% var(--font-family);
      --text-md: 400 14px/170% var(--font-family);
      --text-sm: 400 12px/170% var(--font-family);

      --spacing-xs: 8px;
      --spacing-sm: 16px;
      --spacing-md: 20px;
      --spacing-lg: 24px;
      --spacing-xl: 32px;
   }

   .desktop-only {
      display: initial;
   }

   .perfil-description,
   .about {
      flex-direction: row;
   }

   .perfil-description {
      & img {
         width: 176px;
         height: 176px;

      }

      &>div {
         margin-top: 0;
         margin-left: 32px;
      }
   }

   .photographs {
      &>img {
         width: 286px;
         height: 286px;
      }
   }

   footer {
      justify-content: space-between;
      padding: 32px;
   }
}